.shop-header {
    background-color: darkblue;
    color: aqua;
    text-align: center  ;
}

.cool-class {
    background-color: lightgray;
    padding: 1em;
}


body {
    
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
    
}